body{
	color:#646464 !importance;
	background:#fff !importance;
}
a{
	color:#646464 !importance;
}
span{
	color:#646464 !importance;
}
span:hover{
	color: #2ebaae !important
}
a:hover{
	color: #2ebaae !important
}
.wrapper{
	color: #646464 !importance;
}
ul.navvar{
	color:#646464 !importance;
}
.nav-link{
	color:#646464 !importance;
}
.nav-link:hover{
	color:#2ebaae !importance;
}
.nav-link.collapsed{
	color:#646464 !importance;
}