<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- dumy_mapper.xml -->
<mapper namespace="co.cod.app.admin.adminVo">
	<insert id="adminInsert" parameterType="co.cod.app.admin.AdminVO" >
		INSERT INTO ADMIN(
		ADMIN_ID,
		PW,
		PW2,
		ADMIN_PHONE,
		CAFE_STATE,
		ADMIN_STATE
		VALUES ( #{ADMIN_ID}, 
		#{PW},
		#{PW2}, 
		#{ADMIN_PHONE},
		#{CAFE_STATE},
		#{ADMIN_STATE}
		)
	</insert>
	<select id="getAdminList" resultType="map">
		
			
		
	</select>
</mapper>
