<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- dumy_mapper.xml -->

<mapper namespace="co.cod.app.admin.mapper.AdminMapper">
	<insert id="insertAdmin" parameterType="co.cod.app.admin.AdminVO" >
		INSERT INTO ADMIN (
		ADMIN_ID,
		PW,
		PASS2,
		ADMIN_PHONE,
		CAFE_STATE, 
		ADMIN_STATE)
		VALUES ( 
		#{adminId}, 
		#{pw},
		#{pass2}, 
		#{adminPhone},	
		0,	
		0
		)
	</insert>
	
	<select id="adminLogin" parameterType="co.cod.app.admin.AdminVO" resultType ="co.cod.app.admin.AdminVO"> 
	SELECT
	ADMIN_ID, 	
	PW,
	CAFE_STATE,
	ADMIN_STATE
	FROM ADMIN
	WHERE ADMIN_ID = #{adminId}			
	</select>	
	
	
	<select id="getAdminList" parameterType="co.cod.app.admin.AdminVO" resultType ="co.cod.app.admin.AdminVO">
		SELECT * 
		  FROM ADMIN 
		 WHERE admin_state = '0'
		<if test="cafeState != null">
			AND CAFE_STATE = #{cafeState}
		</if>
	</select>

	<select id="getAdmin" parameterType="co.cod.app.admin.AdminVO" resultType="co.cod.app.admin.AdminVO">
	SELECT  c.*
	  FROM  ADMIN a, cafe c
	 WHERE  a.ADMIN_ID = c.ADMIN_ID
	   AND  a.ADMIN_ID = #{adminId} 
	   AND  ADMIN_STATE = 1
	</select>

	<update id="updateCafeState" parameterType="co.cod.app.admin.AdminVO" >
		UPDATE ADMIN SET CAFE_STATE=#{cafeState} WHERE ADMIN_ID = #{adminId} 
		
	</update>
	
</mapper>