<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.cod.app.advertisement.mapper.AdvertisementMapper">

	<select id="getAdvertisement" resultType="co.cod.app.advertisement.AdvertisementVO">
		SELECT ADVERTISE_SEQ,
				ADVERTISE_MONEY,
				ADVERTISE_FILE,
				ADVERTISER,
				ADVERTISER_PHONE,
				SITE,
				TO_CHAR(CONTRACT_PERIOD,'yyyy-MM-dd') "CONTRACT_PERIOD",
				TO_CHAR(CONTRACT_ENDPERIOD, 'yyyy-MM-dd') "CONTRACT_ENDPERIOD", 
				TRUNC((contract_endperiod-contract_period), 0)as remain
		FROM ADVERTISEMENT
		WHERE ADVERTISE_SEQ = #{advertiseSeq}
	</select>

	<select id="getAdvertisementList" resultType="co.cod.app.advertisement.AdvertisementVO">		
		SELECT a.*, TRUNC((contract_endperiod-contract_period), 0) "remain"
		  FROM ADVERTISEMENT a
		 ORDER BY ADVERTISE_SEQ
	</select>
	
	<select id ="getAdvertisementMap" resultType="map">
		SELECT ADVERTISER "name", sum(advertise_money) "sum"
		FROM ADVERTISEMENT
		GROUP BY ADVERTISER
	</select>
	
	<select id ="monthAdvertisementMap" resultType="map">
		select substr(contract_period,4,2)"month", count(substr(contract_period,4,2)) "cnt" from ADVERTISEMENT
		group by (substr(contract_period,4,2))
		order by 1
	</select>
	
	
	
	<insert id="insertAdvertisement" parameterType="co.cod.app.advertisement.AdvertisementVO">
		INSERT INTO ADVERTISEMENT	(
		ADVERTISE_SEQ,
		ADVERTISE_MONEY,
		ADVERTISE_FILE,
		ADVERTISER,
		ADVERTISER_PHONE,
		SITE,
		CONTRACT_PERIOD,
		CONTRACT_ENDPERIOD
		)
		VALUES(
		(SELECT NVL(MAX(ADVERTISE_SEQ),0)+1 FROM ADVERTISEMENT),
		#{advertiseMoney},
		#{advertiseFile},
		#{advertiser},
		#{advertiserPhone},
		#{site},
		#{contractPeriod},
		#{contractENDPeriod}
		)
	</insert>


	<update id="updateAdvertisement" parameterType="co.cod.app.advertisement.AdvertisementVO">
	 	UPDATE ADVERTISEMENT
		SET
		ADVERTISE_MONEY = #{advertiseMoney} ,
		ADVERTISE_FILE = #{advertiseFile},
		ADVERTISER = #{advertiser},
		ADVERTISER_PHONE = #{advertiserPhone},
		SITE = #{site},
		CONTRACT_PERIOD = #{contractPeriod},
		CONTRACT_ENDPERIOD =  #{contractENDPeriod}
		WHERE ADVERTISE_SEQ = #{advertiseSeq}
	</update>
	
	<delete id="deleteAdvertisement" parameterType="co.cod.app.advertisement.AdvertisementVO">		
		DELETE FROM ADVERTISEMENT WHERE ADVERTISE_SEQ = #{advertiseSeq}
		
	</delete>
	
</mapper>