<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.cod.app.calculate.mapper.CalculateMapper">
	<select id="dayCalculate" statementType="CALLABLE">
      { call p_calculate(
       #{dayPay, mode=OUT, jdbcType=VARCHAR},
       #{calculatePay, mode=OUT, jdbcType=VARCHAR},
       #{adminId}
      )}
   	</select>
   	<select id="commuteList" parameterType="String" resultType="map">
   		SELECT * 
   		  FROM commute_views
   		 WHERE admin_id = #{adminId}
   		 ORDER BY commute_day desc
   	</select>
</mapper>