<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.cod.app.commute.mapper.CommuteMapper">
	<insert id="insertCommute" parameterType="commute">
		<selectKey resultType="int" keyProperty="commuteSeq" order="BEFORE">
			SELECT NVL(MAX(COMMUTE_SEQ),0)+1 
			  FROM COMMUTE
		</selectKey>
		INSERT INTO Commute	(
			COMMUTE_SEQ, WORKER_SEQ, commute_day, START_TIME
		)
		VALUES(
			#{commuteSeq},
			#{workerSeq},
			sysdate,
			sysdate
		)
	</insert>
	
	<update id="updateCommute" parameterType="commute">
	 	UPDATE commute
		SET
		end_time = sysdate
		where commute_seq = #{commuteSeq}
	</update>	

	<select id="getcommute" parameterType="String" resultType="commute">		
		SELECT * 
		  FROM commute 
		 WHERE worker_seq = #{worker_seq}
	</select>
</mapper>