<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- dumy_mapper.xml -->
<mapper namespace="mapper.master_mapper">
	<select id="messageList" resultType="map">
		SELECT * FROM MESSAGE WHERE 
	</select>
	<select id="getMessage"
		resultType="co.cod.app.message.MessageVO" parameterType="int">
		SELECT * FROM
		MESSAGE WHERE MESSAGE_SEQ = #{messageSeq}
	</select>
	<select id="getEmp" resultType="map">

	</select>
</mapper>
