<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- dumy_mapper.xml -->

<!-- MESSAGE -->
<mapper namespace="mapper.master_mapper">
	<select id="messageList" resultType="map">
		SELECT * FROM MESSAGE WHERE
		ADMIN_ID = #{adminId}
	</select>

	<select id="getMessage"
		resultType="co.cod.app.message.MessageVO" parameterType="int">
		SELECT * FROM
		MESSAGE WHERE MESSAGE_SEQ = #{messageSeq}
	</select>

	<insert id="insertMesesage"
		parameterType="co.cod.app.message.MessageVO">
		INSERT INTO MESSAGE(
		MESSAGE_SEQ, 
		MESSAGE_CONTENT, 
		ADMIN_ID, 
		SEND_RECEIVE,
		READ)
		VALUES max(select message_seq from message)+1 , 
		#{messageContent}, 
		, 
		, 
		,0)
	</insert>

</mapper>
