<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.cod.app.member.mapper.MemberMapper">

	<insert id="insertMember"
		parameterType="co.cod.app.member.MemberVO">
		INSERT INTO MEMBER (
			EMAIL, PW, BIRTHDAY, PHONE, NICKNAME
		)
		VALUES(
		#{email},
		#{pw},
		#{birthday},
		#{phone},
		#{nickname}
		)
	</insert>	
	
	<select id="getMember" parameterType="members" resultType="members">
		SELECT *
		  FROM member
		 WHERE email = #{email} 
	</select>

	<select id="getMemberList"
		resultType="co.cod.app.member.MemberVO">
		select * from member
	</select>
	
	<update id= "updateMember" parameterType="co.cod.app.member.MemberVO">
		 UPDATE MEMBER 
		 SET PW = #{pw}, 
		 PHONE = #{phone},
		 BIRTHDAY = #{birthday},
		 NICKNAME = #{nickname} 
		 WHERE EMAIL = #{email}
		
	</update>
	

	<select id="getBookmarks" parameterType="vofile.BookmarksVO"
		resultType="vofile.BookmarksVO">
		SELECT TQ.*, EMAIL, B.BOOKMARK_SEQ
		  FROM (SELECT C.ADMIN_ID, C.CAFE_NAME, C.CAFE_THUMBNAIL, C.CAFE_HASHTAG, S.STARS
				  FROM (SELECT ADMIN_ID, TRUNC(AVG(STARS),1) STARS
						  FROM REVIEW
					  	  GROUP BY ADMIN_ID)S , CAFE C
				 WHERE S.ADMIN_ID(+) = C.ADMIN_ID) TQ, BOOKMARKS B
		 WHERE B.ADMIN_ID = TQ.ADMIN_ID
		   AND B.EMAIL = #{email}
	</select>
 
	<select id="memberLogin"
		parameterType="co.cod.app.member.MemberVO"
		resultType="co.cod.app.member.MemberVO"> 
		SELECT
		EMAIL, PW
		FROM MEMBER
		WHERE EMAIL = #{email}
	</select>


	<!-- 나의 오더 결제 조회  -->
	<select id="getMyorderList" parameterType="co.cod.app.member.MemberVO" resultType="co.cod.app.member.MemberVO"> 
		SELECT O.ORDER_TIME , O.EMAIL, C.CAFE_NAME, M.PRICE
		FROM ORDERS O , CAFE C , MENU M 
		WHERE O.ADMIN_ID = C.ADMIN_ID 
		AND O.ADMIN_ID = M.ADMIN_ID			 
		ORDER BY ORDER_TIME DESC
	
	</select>
	
	<!-- 결제내역 상세 조회 (주문메뉴/수량/단가) -->
 	<select id="getMyMenuList" parameterType="co.cod.app.member.MemberVO" resultType="co.cod.app.member.MemberVO">
	
	SELECT M.MENU_NAME, M.PRICE, OL.ORDERLINE_AMOUNT, O.ORDER_TIME, O.EMAIL
	FROM MENU M, ORDERLINE OL, ORDERS O
	WHERE M.ADMIN_ID = O.ADMIN_ID
	AND OL.ORDER_SEQ = O.ORDER_SEQ
	
	
	</select> 


	<insert id="insertBookmark" parameterType="vofile.BookmarksVO">
		<selectKey resultType="int" keyProperty="bookmarkSeq" order="BEFORE">
			SELECT NVL(MAX(BOOKMARK_SEQ),0)+1 
			  FROM BOOKMARKS
		</selectKey>
		INSERT INTO BOOKMARKS(BOOKMARK_SEQ, EMAIL, ADMIN_ID)
		VALUES (#{bookmarkSeq}, #{email}, #{adminId})
	</insert>

	<delete id="deleteBookmark" parameterType="vofile.BookmarksVO">
		DELETE FROM BOOKMARKS
		WHERE BOOKMARK_SEQ=#{bookmarkSeq}
	</delete>


	<delete id="deleteMember" parameterType="String">
		
		DELETE FROM member
		WHERE email =#{email}
	
	</delete>

	<select id="getEmail" parameterType="co.cod.app.member.MemberVO">
	SELECT EMAIL 
	  FROM MEMBER 
	 WHERE EMAIL=#{email jdbcType=VARCHAR}
	</select>
	
	<select id="getPhone" parameterType="co.cod.app.member.MemberVO">
	SELECT PHONE 
	  FROM MEMBER 
	 WHERE  PHONE=#{phone}
	</select>
</mapper>