<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.cod.app.member.mapper.MemberMapper">

<insert id="insertMember" parameterType="co.cod.app.member.MemberVO">
	INSERT INTO MEMBER	(
	EMAIL, PW, BIRTHDAY, PHONE, NICKNAME
	)
	VALUES(
	#{email},
	#{pw},
	#{birthday},
	#{phone},
	#{nickname}
	)
	</insert>
	
	
	<select id = "getMemberList" parameterType="co.cod.app.member.MemberVO" resultType="co.cod.app.member.MemberVO">
		
		select * from member
	</select>
	
	<select id="getBookmarks" parameterType="vofile.BookmarksVO" resultType="vofile.BookmarksVO">
	SELECT TQ.*, EMAIL
	  FROM (SELECT C.ADMIN_ID, C.CAFE_NAME, C.CAFE_THUMBNAIL, C.CAFE_HASHTAG, S.STARS 
	  FROM (SELECT ADMIN_ID, TRUNC(AVG(STARS),1) STARS
	  FROM REVIEW
	 GROUP BY ADMIN_ID)S , CAFE C
	 WHERE S.ADMIN_ID(+) = C.ADMIN_ID) TQ, BOOKMARKS B
	 WHERE B.ADMIN_ID = TQ.ADMIN_ID
	   AND B.EMAIL = #{email}

	
	</select>
	
	<select id="memberLogin" parameterType="co.cod.app.member.MemberVO" resultType ="co.cod.app.member.MemberVO"> 
	SELECT
	EMAIL, PW
	FROM MEMBER
	WHERE EMAIL = #{email}
	</select>
	
	<insert id="insertBookmark" parameterType="vofile.BookmarksVO">
	INSERT INTO BOOKMARKS(BOOKMAKR_SEQ, EMAIL, ADMIN_ID) 
	VALUES(SELECT NVL(MAX(BOOKMAKR_SEQ),0) FROM BOOKMAKRS, #{email}, #{adminId})
	</insert>
	
	<delete id="deleteBookmark" parameterType="vofile.BookmarksVO">
	DELETE FROM BOOKMARKS
	WHERE EMAIL=#{email} AND ADMIN_ID=#{adminId} 
	</delete>
	
</mapper>