<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.cod.app.message.mapper.MessageMapper">

	<select id ="fiveMessage" resultType="vofile.MessageVO">
	SELECT * FROM   
                          (SELECT 	*
                              FROM 	MESSAGE
                             WHERE	ADMIN_ID = 'ha' 
                                 AND SEND_RECEIVE=0 
                                 AND READ=1
                             ORDER 	BY MESSAGE_SEQ DESC)
	 WHERE <![CDATA[ROWNUM <= 5]]> 
	</select>

	<select id="messageList"
		resultType="vofile.MessageVO">
		SELECT 	*
		  FROM 	MESSAGE
		 WHERE	ADMIN_ID = #{adminId} AND SEND_RECEIVE=0
		 ORDER 	BY MESSAGE_SEQ DESC
	</select>

	<select id="getMessage"
		resultType="vofile.MessageVO"
		parameterType="vofile.MessageVO">
		SELECT
			MESSAGE_TITLE, 
			MESSAGE_CONTENT, 
			READ 
		  FROM MESSAGE WHERE MESSAGE_SEQ =#{messageSeq}
	</select>

	<insert id="insertMessage"
		parameterType="vofile.MessageVO">
		INSERT INTO MESSAGE(
		MESSAGE_SEQ,
		MESSAGE_TITLE,
		MESSAGE_CONTENT,
		ADMIN_ID,
		SEND_RECEIVE,
		MASTER_READ,
		MESSAGE_DATE)
		VALUES ((select nvl(max(message_seq),0)+1 from message),
		#{messageTitle},
		#{messageContent},
		#{adminId},
		#{sendReceive},
		1,
		SYSDATE
		)
	</insert>

	<update id="updateMessage" parameterType="int">  <!-- 메세지 읽음, 읽지않음 -->
		UPDATE MESSAGE
		SET
		READ=0
		WHERE MESSAGE_SEQ=#{messageSeq}
	</update>

	<select id="getMessageCount" parameterType="vofile.MessageVO" resultType="int">
		SELECT NVL(COUNT(READ),0) FROM MESSAGE
		WHERE READ=1 AND ADMIN_ID=#{adminId} AND SEND_RECEIVE=0
	</select>

	<select id="sendMessage" resultType="vofile.MessageVO">
		SELECT * 
		  FROM MESSAGE
		 WHERE ADMIN_ID=#{adminId} AND SEND_RECEIVE=1
		 ORDER BY MESSAGE_SEQ DESC
	</select>
	
	<select id="receiveMessage" resultType="vofile.MessageVO">
		SELECT * 
		  FROM MESSAGE
		 WHERE ADMIN_ID=#{adminId} AND SEND_RECEIVE=0
		 ORDER BY MESSAGE_SEQ DESC
	</select>
	
	<update id="getMasterSend" parameterType="vofile.MessageVO">
	UPDATE MESSAGE 
	   SET MASTER_SEND=1 
	 WHERE MESSAGE_SEQ=#{messageSeq}
	</update>

</mapper>