<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- dumy_mapper.xml -->

<mapper namespace="co.cod.app.orders.mapper.OrdersMapper">
	<select id="getMenuList" resultType="vofile.MenuVO" parameterType="String">
		SELECT M.* , C.CAFE_NAME CAFE_NAME
		  FROM MENU M JOIN CAFE C ON(M.ADMIN_ID = C.ADMIN_ID)
		 WHERE M.ADMIN_ID=#{adminId}
	</select>
	
	<select id="getSeatList" resultType="co.cod.app.seat.SeatVO" parameterType="String">
		SELECT * 
		  FROM SEAT 
		 WHERE ADMIN_ID=#{adminId} AND SEAT_RESERVE = 1
	</select>
	
	<insert id="insertOrders" >
	 <selectKey resultType="int" keyProperty="orderSeq" order="BEFORE">
      SELECT NVL(MAX(ORDER_SEQ),0)+1 FROM ORDERS  
    </selectKey>
		 INSERT 
           INTO ORDERS (ORDER_SEQ,
           				EMAIL,
           				ORDER_TIME, 
           				<if test="seatSeq != null and seatSeq != ''">
                        SEAT_SEQ,
                        </if>    
           				ADMIN_ID)
           VALUES
                              ( #{orderSeq},
                              #{email},
                              sysdate,
                              <if test="seatSeq != null and seatSeq != ''">
                              #{seatSeq},
                              </if>                              
                              #{adminId}
                              )
	
	</insert>
	<insert id="insertOrderLine" parameterType="vofile.OrderlineVO">
		INERT INTO ORDERLINE(ORDERLINE_SEQ, 
							     ORDER_SEQ,
							     MENU_SEQ,
							     ORDER_STATE,
							     ORDERLINE_AMOUNT)
		 			  VALUES((SELECT NVL(MAX(ORDERLINE_SEQ),0)+1 FROM ORDERLINE),
		 			  		 #{orderSeq},
		 			  		  #{menuSeq},
		 			  		  #{orderState},
		 			  		  #{orderlineAmount}
		)
	</insert>
</mapper>