<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- dumy_mapper.xml -->
<mapper namespace="mapper.photo_mapper">   
	<select id="getPhoto" parameterType="co.cod.app.photo.PhotoVO" resultType="co.cod.app.photo.PhotoVO">
		SELECT
		*
		FROM PHOTO
		WHERE photo_group = #{photoGroup} 
	</select>
	<select id="get" resultType="map">
			
	</select>
</mapper>
