<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.cod.app.photo.mapper.PhotoMapper">   
	<select id="getPhoto" parameterType="co.cod.app.photo.PhotoVO" resultType="co.cod.app.photo.PhotoVO">
		SELECT
		*
		FROM PHOTO
		WHERE photo_seq = #{photoSeq} 
	</select>
	<select id="getPhotoList" resultType="co.cod.app.photo.PhotoVO" parameterType="co.cod.app.photo.PhotoVO">
			SELECT
			*
			FROM PHOTO
			where
				photo_group = #{photoGroup}
	</select>
	
	<select id="getPhotoMax" resultType="co.cod.app.photo.PhotoVO" >
		select nvl(max(photo_group),0)+1 photo_group from photo
	</select>	

	<insert id="insertPhoto" parameterType="co.cod.app.photo.PhotoVO" >
		INSERT INTO PHOTO(photo_seq, photo_name, photo_group, photo_use)
			VALUES(
				(select nvl(max(photo_seq),0)+1 from photo),#{photoName},#{photoGroup}, #{photoUse})
	</insert>
	
	<update id="updatePhoto" parameterType="co.cod.app.photo.PhotoVO">
			UPDATE PHOTO
			SET
			photo_name = #{photoName}, photo_group = #{photoGroup}, photo_use =#{photoUse}
			WHERE
			photo_group = #{photoGroup}
	</update>
	
	<delete id="deletePhoto" parameterType="co.cod.app.photo.PhotoVO">
		DELETE FROM PHOTO WHERE
		PHOTO_GROUP =#{photoGroup}
	</delete>
	
	
</mapper>
