<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.cod.app.seat.mapper.SeatMapper">
	<!-- 단건조회  -->
	<select id="getSeat" parameterType="co.cod.app.seat.SeatVO" resultType="co.cod.app.seat.SeatVO">
		SELECT *	   	 		
		FROM seat
		WHERE seat_seq = #{seatSeq}
	</select>

	<!-- <resultMap type="#modelname" id="YourResultSet">
		<id property="param1" column="columnname1" />
		<result property="param2" column="columnname2" />
		<result property="param3" column="columnname3" />
	</resultMap> -->  
	
	<!-- 전체조회  -->
	<select id="getSeatList"  parameterType="String" resultType="co.cod.app.seat.SeatVO" >
		SELECT *
        from seat
        where admin_id = #{adminId}
        order by seat_seq desc
	</select>


	<insert id="insertSeat" parameterType="co.cod.app.seat.SeatVO">
		INSERT INTO Seat (seat_seq, seat_name, seat_img, seat_size, admin_id)  
		
		VALUES ((select nvl(max(seat_seq),0)+1 from seat), #{seatName}, #{seatImg}, #{seatSize}, #{adminId})
	</insert>

 	<update id="updateSeat" parameterType="co.cod.app.seat.SeatVO">
		UPDATE Seat 
		<set>
			    seat_name = #{seatName},
			    seat_size = #{seatSize},
			   <if test = "seatImg != null and seatImg != ''">
			    	seat_img = #{seatImg}
			   </if>
		</set>	    
		where seat_seq = #{seatSeq}
	</update>
	<!-- 예약상태변경 -->
	<update id="updateSeatReserve" parameterType="co.cod.app.seat.SeatVO">
		UPDATE seat
		SET
		seat_reserve = #{seatReserve}
		WHERE seat_seq = #{seatSeq}
	</update>
	<delete id="deleteSeat" parameterType="co.cod.app.seat.SeatVO">
		DELETE FROM seat 
		WHERE
		Seat_seq = #{seatSeq}
	</delete>
	
	<update id="seatSetting" parameterType="co.cod.app.seat.SeatVO">
		UPDATE seat SET 
		seat_reserve = #{seatReserve}
		WHERE admin_id=#{adminId}
	</update>
</mapper>
