<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.cod.app.admin.worker.mapper.WorkerMapper">

<insert id="insertWorker" parameterType="co.cod.app.admin.worker.WorkerVO">
	
	INSERT INTO WORKER	(
	WORKER_SEQ, WORKER_NAME, WORKER_BIRTH, WORKER_GRADE, PAY
	)
	VALUES(
	#{workerSeq},
	#{workerName},
	#{workerBirthday},
	#{workerGrade},
	#{pay}
	)
	</insert>	
	
	<select id="getWorkerList" parameterType="co.cod.app.admin.worker.WorkerVO" resultType="co.cod.app.admin.worker.WorkerVO">		
		SELECT * FROM WORKER where admin_id = #{adminId}
	</select>
	
	
</mapper>